@charset "utf-8";

.contents {
	position:relative;
	width:100%;
	min-width:1400px;
}

.shortcut_nav {
	position:relative;
	margin-top:100px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ccc;
}

.shortcut_nav>div {
	position:relative;
	width:1400px;
	font-size:13px;
}

.shortcut_nav>div>p {
	color:#666;
}

.shortcut_nav>div>p>a:hover {
	font-weight:bold;
}

.shortcut_nav:after {
	content:"";
	display:block;
	clear:both;
}

.banner {
	position:relative;
	width:1400px;
	text-align:center;
}

.banner>h3 {
	font-size:22px;
	letter-spacing:2px;
	margin-top:30px;
}


.banner:after {
	content:"";
	display:block;
	clear:both;
}

	/* 상품 소개 */

/* 이미지커버 */

.images_cover {
	position:relative;
	width:1160px;
    /* background-color: pink; */
    /* border:1px solid red; */
}

.images>li {
	position:relative;
	float:left;
	width:212px;
    height:250px;
	margin:50px 10px;
    /* border:1px solid red; */
    box-sizing: border-box;
}

.images>li>p:first-child {
	/* width:212px; */
	/* height:250px; */
	overflow:hidden;
}

.images>li>p>img {
	width:212px;
    height:230px;
    border-bottom:1px solid #ccc;
    box-sizing: border-box;
}

.images>li>p:last-child {
    font-size: 12px !important;
    color:#888;
}

.images>li>p:last-child:hover  {
    text-decoration: underline;
}

.images>li>p>img:hover {
    cursor:pointer;
}

.images>li>h3, .images>li>p:last-child {
	padding-top:10px;
	font-size:14px;
    cursor:pointer;
}

.images>li>h3:hover {
    text-decoration:underline;
    cursor:pointer;
}



.images_cover:after {
	content:"";
	display:block;
	clear:both;
}

/* 더보기버튼 */

.plus {
	text-align:center;
}

button {
	border:1px solid rgb(204,204,153);
	border-radius:20px;
	background-color:#fff;
	width:130px;
	height:40px;
	margin-bottom:50px;
    margin-top:50px;
	cursor:pointer;
	color:#666;
}

button:hover {
	font-weight:bold;
	background-color:rgb(204,204,153);
	color:#fff;
}


